.htBold {
    font-weight: bold;
}
.htItalic {
    font-style: italic;
}
.htUnderline {
    text-decoration: underline;
}
.htTextAlignLeft {
    text-align: left;
}
.htTextAlignCenter {
    text-align: center;
}
.htTextAlignRight {
    text-align: right;
}


.fontSize-8 {
    font-size: 8px;
}
.fontSize-10 {
    font-size: 10px;
}
.fontSize-12 {
    font-size: 12px;
}
.fontSize-14 {
    font-size: 14px;
}
.fontSize-16 {
    font-size: 16px;
}
.fontSize-18 {
    font-size: 18px;
}
.fontSize-20 {
    font-size: 20px;
}
.fontSize-22 {
    font-size: 22px;
}
.fontSize-24 {
    font-size: 24px;
}
.fontSize-26 {
    font-size: 26px;
}
.fontSize-28 {
    font-size: 28px;
}
.fontSize-30 {
    font-size: 30px;
}
.fontSize-32 {
    font-size: 32px;
}
.fontSize-34 {
    font-size: 34px;
}
.fontSize-36 {
    font-size: 36px;
}
